:root {
	--primary-color: #FFE8D6;
	--secondary-color: #CB997E;
	--bg-thing: #EDEDE8;
	--bg-thing-mobile: #EDEDE888;
}

@font-face {
	font-family: "Courgette";
	src: url("../Assets/Courgette-Regular.ttf");
}

body {
	font-family: "Arial";
	margin: 0px;
	width: fit-content;
}

.pfp {
	border-radius: 50%;
}

.options {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.option {
	margin: 0px;
	margin-right: 50px;
	font-size: 18px;
	text-decoration: none;
	color: #000;
}

.topPfp {
	border-radius: 50%;
}

h1 {
	z-index: 100;
}

header {
	background-color: var(--primary-color);
	box-sizing: border-box;
	border-bottom: 3px solid black;
	z-index: 999;
	display: flex;
	padding: 7.5px;
	padding-left: 25px;
	justify-content: space-between;
}

.recipeTypeTxt {
	font-family: "Courgette";
}

.recipeNameBold {
	font-weight: bolder;
}

.recipeNameNormal {
	font-weight: normal;
}

.recipeBtn {
	border: 2px solid var(--secondary-color);
	color: var(--secondary-color);
	background-color: #0000;
	border-radius: 25px;
	width: 100px;
	height: 35px;
}

.optionTxt {
	text-decoration: none;
	color: #000;
}

.optionB {
	text-decoration: none;
	color: #000;
}

.topDiv {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--bg-thing);
}

.category {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 3px solid #000;
	flex-wrap: wrap;
}

.articleContainer {
	align-items: center;
	justify-content: space-between;
}

h3 {
	font-family: "Arial";
	margin: 10px;
}

p {
	font-family: "Arial";
	margin: 10px;
}

.emailRegisterSection {
	margin: 75px;
	padding: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
	align-items: center;
	justify-content: space-around;
	border-radius: 25px;
	background-color: var(--secondary-color);
}

.authorDiv {
	align-items: center;
	justify-content: space-around;
	border-top: 3px solid #000;
	background-color: var(--secondary-color);
	padding: 75px;
}

.optionEnd {
	margin: 0px;
	margin-right: 50px;
	font-size: 18px;
	text-decoration: none;
	color: #000;
	display: initial;
}

.finalDiv {
	align-items: center;
	justify-content: space-between;
}

.options {
	display: flex;
	justify-content: space-between;
}

.optionsMedia {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 551px) {
	.option {
		display: initial;
	}

	.topPfp {
		content: url("../Assets/pfpPlaceholder.png");
	}

	h1 {
		position: initial;
	}

	.heheheha {
		mask-image: radial-gradient(circle at 46%, var(--bg-thing), #0000 60%);
		flex-grow: 0;
	}

	header {
		height: 60px;
	}

	.recipeTypeTxt {
		font-size: 20px;
	}

	.recipeNameBold {
		font-size: 64px;
	}

	.recipeNameNormal {
		font-size: 48px;
	}

	.optionTxt {
		margin: 0px;
		margin-right: 50px;
		margin-left: 50px;
		font-size: 18px;
		width: 250px;
	}

	.mobileSeparateDiv {
		display: flex;
		align-items: center;
	}

	.optionB {
		margin: 0px;
		margin-right: 50px;
		margin-left: 50px;
		font-size: 18px;
	}

	.category {
		height: 75px;
	}

	.articleSection {
		margin: 75px;
	}

	.articleContainer {
		display: flex;
		margin: 30px;
	}

	.articleImg {
		width: 75%;
		height: 75%;
	}

	h3 {
		font-size: 40px;
	}

	p {
		width: 60%;
	}

	.emailRegisterSection {
		display: flex;
	}

	.authorDiv {
		display: flex;
	}

	.authorDescription {
		width: 60%;
	}

	.finalDiv {
		display: flex;
	}

	.options {
		align-items: center;
	}
}

@media (max-width: 550px) {
	.option {
		display: none;
	}

	.topPfp {
		content: url("../Assets/desplegaImg.png");
	}

	h1 {
		position: absolute;
	}

	.heheheha {
		mask-image: radial-gradient(circle at 46%, var(--bg-thing-mobile), #0000 60%);
		flex-grow: 0.7;
	}

	header {
		height: 100px;
	}

	.recipeTypeTxt {
		font-size: 28px;
	}

	.recipeNameBold {
		font-size: 96px;
	}

	.recipeNameNormal {
		font-size: 64px;
	}

	.optionTxt {
		margin: 30px;
		font-size: 30px;
		text-align: center;
	}

	.mobileSeparateDiv {
		display: contents;
	}

	.optionB {
		margin: 30px;
		font-size: 32px;
	}

	.category {
		height: fit-content;
		padding: 25px;
	}

	.articleSection {
		margin: 35px;
	}

	.articleContainer {
		margin: 0px;
	}

	article {
		margin-bottom: 45px;
	}

	.articleImg {
		width: 100%;
		height: 100%;
		margin-bottom: 15px;
	}

	h3 {
		font-size: 52px;
	}

	p {
		width: 100%;
		font-size: 16px;
	}

	.authorDescription {
		width: 100%;
	}

	.finalDiv {
		height: 150px;
	}

	.options {
		align-items: baseline;
		flex-direction: column;
		justify-self: anchor-center;
	}
}

.endingDiv  {
	background-color: var(--primary-color);
	border-top: 1px solid #000;
	padding-top: 15px;
}

input {
	background-color: #0000;
	border-radius: 25px;
	border: 2px solid var(--primary-color);
	width: 200px;
	height: 35px;
	color: #000;
	border-right-color: #0000;
}

.SubmitBtn {
	background-color: var(--primary-color);
	border-radius: 25px;
	border: 2px solid var(--primary-color);
	height: 41px;
	width: 100px;
	position: relative;
	right: 40px;
}